.QTabBar::tab {
    width: 450%;
    height: 50%;
}

#cmdDelete {
    font-size: 20px;
}

#cmdOpen {
    font-size: 20px;
}

#cmdClear {
    font-size: 20px;
}

#cmdCreate {
    font-size: 20px;
}

#lstProject {
    border-radius: 25px;
    border: 3px solid @highlight;
    padding: 10px;
}

#lblTitle {
    background-color: @highlight;
    color: @lightColour;
    font-size: 60px;
    font-style: italic;
}
