.QTabBar::tab {
    width: 300%;
    height: 50%;
}

#lblProjectName {
    background-color: @highlight;
    color: @lightColour;
    font-size: 60px;
}

#cmdClearChanges {
    font-size: 20px;
}

#cmdApplyChanges {
    font-size: 20px;
}
